<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{../css/home_style.css}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Angkor&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Angkor&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
<link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap}" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <div class="card card--first">
            
            <div class="card__row card__row--header">
                <div class="card__row__first card__row__first--col1">
                    <div class="card__row__first__name card__row__first__name--logo"><h1>E</h1></div>
                    <div class=" card__row__first__name--title"><h1 class="card__row__first__name__heading">EVENTO</h1></div>
                </div>
                <div class="card__row__first card__row__first__name card__row__first--col2 button" role="button"><a class="card__row__first__link" th:href="@{/make_events}"><img class="card__row__first__link__img" src="../images/signin.png" width="30px"><button class="button__sign">Sign in</button></a></div>
                <div class="card__row__first card__row__first--col3 button" role="button"><a class="card__row__first__link" th:href="@{/signup/user}"><img class="card__row__first__link__img" src="../images/signup.png" width="30px"><button class="button__sign">Sign Up</button></a></div>
                <div class="card__row__first card__row__first--col3 button" role="button"><a class="card__row__first__link" th:href="@{/signup/host}"><img class="card__row__first__link__img" src="../images/signup.png" width="30px"><button class="button__sign">Sign Up host</button></a></div>
            </div>
            <div class="card__row card__row--title">
                <h1 class="card__row__second card__row__headline">Home Of <span class="card__row__second__event">Events</span></h1>
            </div>
            <div class="card__row card__row--description">
                <div class="card__row__third card__row__third--text">
                    <h1 class="card__row__third__heading">Welcome to evento,</h1>
                    <p class="card__row__third__detail">We Are here to share the events happening in your area we will supply you with all events available on our platform.</p>   
                    <div class="card__row card__row--signup">
                        <div class="card__row__fourth"><a th:href="@{/signup/user}"><button class="card__row__fourth__button">SIGN UP NOW</button></a></div>
                        <div> </div>
                    </div> 
                </div>
                <div class="card__row__third card__row__third--image"><img class="card__row__third__img" src="../images/event.png" alt="event image"></div>
    
            </div>
        </div>
        <div class="card new card--second" >
            <div class="card__row card__row--image"><img class="card__row__img card__row__img--explore" src="../images/explore.png" alt="discover"></div>
            <div class="card__row card__row--text">
                <h1 class="card__row__heading">Explore Events</h1>
                <p class="card__row__detail">once you sign up on evento you will be able to explore events posted by registered hosts</p>
            </div>
        </div>
        <div class="card new card--third">
            
            <div class="card__row card__row--text">
                <h1 class="card__row__heading">Sharing Events</h1>
                <p class="card__row__detail">once you sign up on evento you will be able to explore events posted by registered hosts</p>
            </div>
            <div class="card__row card__row--image"><img class="card__row__img" src="../images/sharet.png" alt="share"></div>
        </div>
        <div class="card new card--fourth">
            <div class="card__row card__row--image"><img class="card__row__img" src="../images/postt.png" alt="post"></div>
            <div class="card__row card__row--text">
                <h1 class="card__row__heading">Post Events</h1>
                <p class="card__row__detail">once you sign up on evento you will be able to explore events posted by registered hosts</p>
            </div>
        </div>

        <div class="card new card--fifth">
            
            <div class="card__row card__row--text">
                <h1 class="card__row__heading">Discover Organizers</h1>
                <p class="card__row__detail">once you sign up on evento you will be able to explore events posted by registered hosts</p>
            </div>
            <div class="card__row card__row--image"><img class="card__row__img" src="../images/discover2.jpg" alt="discover"></div>
        </div>
        <div class="card card--sixth">
            <div class="card__row card__row--social">
                <div class="card__row"> <a class="card__row__link" href=""><?xml version="1.0"?><svg class="svg" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">    <path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"/></svg></a></div>
                <div class="card__row"> <a class="card__row__link" href=""><?xml version="1.0"?><svg class="svg" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">    <path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"/></svg></a></div>
                <div class="card__row"> <a class="card__row__link" href=""><?xml version="1.0"?><svg class="svg" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">    <path d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"/></svg></a></div>      

            </div>
            <div class="card__row card__row--end">
                <div class="card__row__seventh"><a class="card__row__seventh__link" href="">FAQ</a></div>
                <div class="card__row__seventh"><a class="card__row__seventh__link" href="">ABOUT US</a></div>
                <div class="card__row__seventh"><a class="card__row__seventh__link" href="">DEVELOPERS</a></div>
                <div class="card__row__seventh"><a class="card__row__seventh__link" href="">MAIL</a></div>

            </div>
                
                
                
        </div> 


    </div>       
</body>
</html> 