<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Angkor&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Angkor&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../css/host_profile.css}">
    <link rel="ICON" th:href="@{../images/Evento tab logo.jpg}" type="image/icon" />
</head>
<body>
    <header>
        <div class="top">
            <div class="logo">
                <div class="logo-E">
                    <h1>E</h1>
                </div>
                <h1 class="logo-evento">EVENTO</h1>
            </div>
            <div class="profile">
                <form method="POST" th:action="@{/logout}">
                    <input style="width :60px; margin: 18px; margin-bottom: 20px; border-radius: 10px;" type="submit" value="Logout"/>
                    </form>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="img_container">
            <img class="profile_pic" src="images/discover.jpg" alt="">
        </div>
        <div class="user-data">
            <p>ORGANIZATION NAME: <span th:text="${host.organizationName}"></span> </p>
            <p>ORGANIZER EMAIL: <span th:text="${host.email}"></span></p>
            <p>TEL: <span th:text="${host.phone}"></span></p>
            <p>Address: <span th:text="${host.streetAddress}"></span></p>
        </div>
        <form class="update__form" action="">
            <section >
                <section>
    
                    <input 
                    class="form-control"
                    type="text" 
                    name="organizationName"  
                    placeholder="Organization Name" 
                    id="organizationName" 
                    ><br>
    
                    <input 
                    class="form-control" 
                    type="text" 
                    name="username"
                    placeholder="Preffered Username" 
                    id="username" 
                    ><br>
    
                    <input 
                    class="form-control" 
                    type="password" 
                    name="password"
                    placeholder="Password" 
                    id="password" 
                    ><br>
    
                    <input 
                    class="form-control" 
                    type="password" 
                    name="confirm"
                    placeholder="Confirm Password" 
                    id="confirm" 
                    ><br>
    
                    <input 
                    class="form-control" 
                    type="email" 
                    name="email"
                    placeholder="Email address" 
                    id="email" 
                    ><br>
    
                    <input                             
                    class="form-control" 
                    type="text" 
                    name="streetAddress"
                    placeholder="Street address" 
                    id="streetAddress" 
                    ><br>
    
                    <input 
                    class="form-control" 
                    type="text" 
                    name="phone"
                    placeholder="Telephone No." 
                    id="phone" 
                    ><br>
    
                </section>
                <button>UPDATE PROFILE</button>
        </form>
    </main>
</body>
</html>