<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Angkor&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Angkor&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/host_profile.css">
</head>
<body>
    <header>
        <div class="top">
            <div class="logo">
                <div class="logo-E">
                    <h1>E</h1>
                </div>
                <h1 class="logo-evento">EVENTO</h1>
            </div>
            <div class="profile">
                <button>Log Out</button>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="img_container">
            <img class="profile_pic" src="images/discover.jpg" alt="">
        </div>
        <div class="user-data">
            <p>ORGANIZATION NAME</p>
            <p>ORGANIZER EMAIL</p>
            <p>TEL: +251<span>92350783</span></p>
            <p>Address: <span>Organizer Address</span></p>
            <a href="">Change profile</a>
        </div>
    </main>
</body>
</html>