<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-in</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sign-in.css}" rel="stylesheet">
    <link rel="ICON" th:href="@{../images/Evento tab logo.jpg}" type="image/icon" />
</head>
<body>
    <section class="container" id="container-grid">
        <section class="row header logo" id="section-1" >
            <div class="logo-E">
                <h1>E</h1>
            </div>
            <h1 class="logo-evento">EVENTO</h1>
        </section>
        <section class="form-signin mx-auto w-50" id="section-2" role="main">
            <section class="col" id="sub-1">
                <div th:if="${error}">
                    Unable to login. Check your username and password.
                </div>
                <h2 class="h3 mb-3 fw-normal" style="margin-left: -6vw;">Sign in</h2><br>
                <form th:action="@{/signin}" method="POST">
                    <label class="form-label" for="username">Username</label><br>
                    <input class="form-control" placeholder="Username..." type="text" id="username" name="username" ><br>
                    <label class="form-label" for="password">Password</label><br>
                    <input class="form-control" placeholder="password..." type="password" id="password" name="password" ><br>
                    <button type="submit" class="btn btn-outline-success">Sign-in</button>
                </form>
                <p>Don't have an account?<br> &nbsp;&nbsp; Click <a th:href="@{/signup/user}">here</a> to create a User account. <br> &nbsp;&nbsp; Click <a th:href="@{/signup/host}">here</a> to create a Host account.</p>
            </section>
        </section>
        <section class="row" id="section-3" role="doc-footnote"></section>
    </section>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
