<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host-signup</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/normal2.css">
    
</head>
<body>
    <section class="container">
        <section class="row" id="section-1">
            <!-- <img src="../images/download.jpg" alt="" width="20vw" height="20vw" style="float: left;"> -->
            <h1>EVENTO</h1>
        </section>
        <section class="row" id="section-2">
            <section id="container-grid">    
                <section id="sub-1" class="col">
                    <h2> Sign up -> Host</h2><br>
                    <form th:action="@{/signUp/host}" th:object="${HOST}" method="post">
                        <input class="form-control" th:field="${HOST.companyName}" placeholder="Organization Name" id="ON" type="text" ><br>
                        
                        <input class="form-control" th:field="${HOST.companyPassword}" placeholder="Password" id="PU" type="password" ><br>
                        <input class="form-control" th:field="${HOST.id}" placeholder="id" id="PU" type="password" ><br>
                        <input class="form-control" th:field="${HOST.companyEmail}" placeholder="Email address" id="EA" type="email" ><br>
                        <input class="form-control" th:field="${HOST.logoDirectory}" placeholder="logodirectory" id="SA" type="text" ><br>
                        <input class="form-control" th:field="${HOST.companyTelePhone}" placeholder="Telephone No." id="TN" type="number" ><br>
                        <input type="submit">
                    </form>
                </section>
                <section id="sub-2" class="col">
                    <p>Please attach your identification and proof of legal ownership of the organization: </p>
                    <form action="" method="">
                        <textarea class="form-control" rows="5" cols="70"></textarea><br>
                        <button class="btn btn-primary" type="submit">Add File</button>&nbsp;
                        <button class="btn btn-primary" type="submit">Attach</button><br><br><br>
                        
                        <input type="checkbox">&nbsp;
                        I have agreed to take full responsibility for the events posted in this account and I will be held 
                            responsible for any kind of forgery through this account <br><br>
                        <input type="checkbox">&nbsp;
                        I have accepted and agreed to the license agreement

                        <br><br>
                        <button type="submit" class="btn btn-primary mb-2" style="margin-left: 40%;"> Sign Up </button>
                    </form>
                </section>
            </section>
        </section>
        <section class="row" id="section-3"></section>
    </section>
</body>
</html>